.container
  %h2.title 
    = @board.name
  - @task.each do |task|
    = link_to board_task_path(@board.id,task.id) do
      .board
        - if task.eyecatch.attached?
          .board_image
            = image_tag task.eyecatch
        .board_content
          .board_name
            = task.name
          .board_description
            = task.description
          .board_avatar
            = image_tag 'default-avatar.png', class: 'board_icon'

  = link_to new_board_task_path do
    .board_new 
      Add New Card