.container
  %h2.title 
    = @task.name
  - if user_signed_in? && current_user.has_written?(@task)
    .task-actions
      .dropdown
        = image_tag 'actions.svg', class: 'dropbtn'
        .dropdown-content.mini
          = link_to "編集する", edit_board_task_path(@task.board)
          = link_to "削除する", board_task_path(@task.board), data: { method: 'delete', confirm: '本当に削除してよろしいですか？' }
  .board
    .board_content
    - if @task.eyecatch.attached?
      .board_image
        = image_tag @task.eyecatch
    = @task.description

  %h2.title Comment
  - @comments.each do |comment|
    .comment
      .comment_avatar
        = image_tag 'default-avatar.png', class: 'comment_icon'
      .comment_description
        = comment.description

  = link_to new_board_task_comment_path(board_id: @board.id,task_id: @task.id) do
    .board_new 
      Add New Comment