.container
  = link_to board_tasks_path(@board.id) do
    .board
      .board_content
        .board_name
          = @board.name
        - if user_signed_in? && current_user.has_written?(@board)
          .board_actions
            .dropdown
              = image_tag 'actions.svg', class: 'dropbtn'
              .dropdown-content.mini
                = link_to "編集する", edit_board_path(@board)
                = link_to "削除する", board_path(@board), data: { method: 'delete', confirm: '本当に削除してよろしいですか？' }
        .board_description
          = @board.description
        .board_avatar
          = image_tag 'default-avatar.png', class: 'board_icon'